html
{
	position: relative;
  font-family: 'Gill Sans';
}
body {
 
  margin-bottom: 60px;

}

.navbar-static-top {
  margin-bottom: 19px;
}
#logo
{
	height: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: white;
}
.color
{
	background-color: #0B3861;
}
.caru
{
	margin-top: -20px;
  height: 90%;
	
}
#ima_carru
{

}
.inter
{
  width: 200px;
  height: 210px;
  box-shadow: 3px 1px 15px 0px rgba(53, 50, 50, 0.37);
}
.titulo
{
  text-align: center;
 
  font-size: 80px;
}
.inter2
{
  width: 100px;
}
.evento
{
  width: 200px;
}
.fondo
{
  background-color: blue;
}
.spon
{
  width: 150px;
}
.spon2
{
  width: 100%;
}
.cons 
{
  width: 100%
}
.ini
{
  width: 100%;
}
.nue
{
  padding-left: 10%
  
}
.con
{
  width: 40%
}
.logo_index
{
  width: 90%;

}
.titu
{
  color: #18386A;
}
.rede
{
  padding-left: 30%;
}
.mail
{
  margin-left: 30%;
}
.titu-vic
{
  
  font-size: 20px;
}
.tem
{
  padding-left: 1.5%;
}